@use "../../assets/sass/_variables.scss" as *;

.name {
  background-color: rgb(180, 178, 178);
  color: black;
  gap: 0.5cm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;

  &__and__role {
    color: black;
    background-color: rgb(180, 178, 178);
    border: 2px solid black;
    width: 10em;
    height: 15em;
    border-radius: 15px;
  }
}

.Employees_Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px 40px;
  grid-template-areas:
    ". . . . ."
    ". . . . .";
}
