@use "../../assets/sass/_variables.scss" as *;

.name {
  background-color: dimgray;
  color: whitesmoke;
  gap: 0.5cm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;

  &__and__role {
    color: whitesmoke;
    background-color: dimgray;
    border: 2px solid black;
    width: 9em;
    height: 13em;
    border-radius: 15px;
  }
}

.counter {
  border: 1px solid black;
  align-items: center;

  .counter__score {
    align-items: center;
    margin-left: 4em;
  }
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.Employees_Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px 40px;
  grid-template-areas:
    ". . . . ."
    ". . . . .";
}
